networks:
  proxy:
    external: true

services:
  gluetun:
    image: qmcgaw/gluetun:v3.40.2
    container_name: gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    volumes:
      - gluetun-volume:/gluetun
    networks:
      - proxy
    ports:
      - "8080:80" # openbooks web UI
      - "8081:8080" # sabnzbd web UI 
      - "8090:8090" # qbittorrent tcp
      - "8090:8090/udp" # qbittorrent udp
    environment:
      TZ: "{{ timezone }}"
      VPN_SERVICE_PROVIDER: "{{ gluetun_vpn_provider }}"
      VPN_TYPE: wireguard
      WIREGUARD_PRIVATE_KEY: "{{ gluetun_vpn_private_key }}"
      WIREGUARD_ADDRESSES: "{{ gluetun_vpn_iprange }}"
      SERVER_CITIES: "{{ gluetun_vpn_location }}"
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.gluetun-qbittorrent-rtr.entrypoints=https"
      - "traefik.http.routers.gluetun-qbittorrent-rtr.rule=Host(`qbit.{{ local_domain }}`)" # qbittorrent
      - "traefik.http.routers.gluetun-sabnzbd-rtr.entrypoints=https"
      - "traefik.http.routers.gluetun-sabnzbd-rtr.rule=Host(`sabnzbd.{{ local_domain }}`)" # Sabnzbd
      - "traefik.http.routers.gluetun-openbooks-rtr.entrypoints=https"
      - "traefik.http.routers.gluetun-openbooks-rtr.rule=Host(`books.{{ local_domain }}`)" # openbooks
      ## HTTP Services
      - "traefik.http.routers.gluetun-qbittorrent-rtr.service=gluetun-qbittorrent-svc" # qbittorrent
      - "traefik.http.routers.gluetun-sabnzbd-rtr.service=gluetun-sabnzbd-svc" # Sabnzbd
      - "traefik.http.routers.gluetun-openbooks-rtr.service=gluetun-openbooks-svc" # openbooks
      - "traefik.http.services.gluetun-qbittorrent-svc.loadbalancer.server.port=8090" # qbittorrent
      - "traefik.http.services.gluetun-sabnzbd-svc.loadbalancer.server.port=8080" # Sabnzbd
      - "traefik.http.services.gluetun-openbooks-svc.loadbalancer.server.port=80" # openbooks

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest # latest is the stable release tag
    container_name: qbittorrent
    depends_on:
      gluetun:
        condition: service_healthy
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
      - WEBUI_PORT=8090
    volumes:
      - "{{ docker_appdata_directory }}/qbittorrent:/config"
      - "torrents_volume:/data/torrents"
    restart: unless-stopped

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest # latest is the stable release tag
    container_name: sabnzbd
    depends_on:
      - gluetun
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - "TZ={{ timezone }}"
    volumes:
      - "{{ docker_appdata_directory }}/sabnzbd:/config"
      - "usenet_volume:/data/usenet"
    restart: unless-stopped

  openbooks:
    container_name: openbooks
    image: evanbuss/openbooks:latest # latest is the stable release tag
    depends_on:
      - gluetun
    network_mode: "service:gluetun"
    volumes:
      - "books_volume:/books"
    command: --persist --name diligent-rhino -s irc.irchighway.net:9999 --tls
    restart: unless-stopped

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:latest # latest is the stable release tag
    ports:
      - "9696:9696"
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - "TZ={{ timezone }}"
    volumes:
      - "{{ docker_appdata_directory }}/prowlarr:/config"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.entryPoints=https"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.{{ local_domain }}`)"
    restart: unless-stopped

  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest # latest is the stable release tag
    ports:
      - "7878:7878"
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - "TZ={{ timezone }}"
    volumes:
      - "{{ docker_appdata_directory }}/radarr:/config"
      - "data_volume:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.entryPoints=https"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ local_domain }}`)"
    restart: unless-stopped

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:latest # latest is the stable release tag
    ports:
      - "8989:8989"
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - "TZ={{ timezone }}"
    volumes:
      - "{{ docker_appdata_directory }}/sonarr:/config"
      - "data_volume:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.entryPoints=https"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.{{ local_domain }}`)"
    restart: unless-stopped

volumes:
  data_volume:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ hostvars['nas1'].ansible_host }},rw,nolock,soft,timeo=30,vers=4.0"
      device: ":/mnt/truenas/nas/data"
  books_volume:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ hostvars['nas1'].ansible_host }},rw,nolock,soft,timeo=30,vers=4.0"
      device: ":/mnt/truenas/nas/data/media/books"
  usenet_volume:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ hostvars['nas1'].ansible_host }},rw,nolock,soft,timeo=30,vers=4.0"
      device: ":/mnt/truenas/nas/data/usenet"
  torrents_volume:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ hostvars['nas1'].ansible_host }},rw,nolock,soft,timeo=30,vers=4.0"
      device: ":/mnt/truenas/nas/data/torrents"
  gluetun-volume: