auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: tsdb_index_
        period: 24h

limits_config:
  split_queries_by_interval: 15m
  retention_period: 168h
  ingestion_rate_mb: 32
  ingestion_burst_size_mb: 64
  max_query_parallelism: 32
  allow_structured_metadata: true
  max_structured_metadata_size: 64kb
  max_structured_metadata_entries_count: 128

table_manager:
  retention_deletes_enabled: true
  retention_period: 168h

compactor:
  working_directory: /loki/compactor
  compaction_interval: 5m
  retention_enabled: true
  delete_request_store: filesystem
  delete_request_store_key_prefix: index/

analytics:
  reporting_enabled: false

storage_config:
  filesystem:
    directory: /loki/chunks
  
  tsdb_shipper:
    active_index_directory: /loki/tsdb-index
    cache_location: /loki/tsdb-cache

query_range:
  align_queries_with_step: true
  max_retries: 5