networks:
  proxy:
    external: true

services:
  sonarqube:
    image: sonarqube:community
    depends_on:
      - db
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD={{ sonar_postgres_password }}
      #Required in order to build (otherwise ran into vm.max_map_count issue)
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - proxy
    ports:
      - "9000:9000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarqube.rule=Host(`sonarqube.{{ local_domain }}`)"
      - "traefik.http.routers.sonarqube.entrypoints=https"
  db:
    image: postgres:12
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: "{{ sonar_postgres_password }}"
    networks:
      - proxy
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data

volumes:
  sonarqube_data:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ hostvars['nas'].ansible_host }},rw,nolock,soft,timeo=30,vers=4.0"
      device: ":/mnt/truenas/nas/data/app data/sonarqube"
  sonarqube_extensions:
  sonarqube_logs:
  postgresql:
  postgresql_data: