networks:
  proxy:
    external: true

services:
  bookstack:
    image: lscr.io/linuxserver/bookstack
    container_name: bookstack
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
      - APP_URL=https://bookstack.{{ local_domain }}
      - DB_HOST=bookstack_db
      - DB_PORT=3306
      - DB_USER=bookstack
      - DB_PASS={{ bookstack_db_password }}
      - DB_DATABASE=bookstackapp
    volumes:
      - data:/config
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bookstack.rule=Host(`bookstack.{{ local_domain }}`)"
      - "traefik.http.routers.bookstack.entrypoints=https"
    ports:
      - 6875:80
    restart: unless-stopped
    depends_on:
      - bookstack_db

  bookstack_db:
    image: lscr.io/linuxserver/mariadb
    container_name: bookstack_db
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
      - MYSQL_ROOT_PASSWORD={{ bookstack_db_password }}
      - MYSQL_DATABASE=bookstackapp
      - MYSQL_USER=bookstack
      - MYSQL_PASSWORD={{ bookstack_db_password }}
    networks:
      - proxy
    volumes:
      - db:/config
    restart: unless-stopped

volumes:
  data:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ hostvars['nas1'].ansible_host }},rw,nolock,soft,timeo=30,vers=4.0"
      device: ":/mnt/truenas/nas/data/app data/bookstack"
  db: