version: "3.7"

networks:
  proxy:
    external: true

services:
  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr
    ports:
      - "8989:8989"
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - "TZ= {{ timezone }}"
    volumes:
      - ./config:/config
      - ./data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.entryPoints=https"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.{{ local_domain }}`)"
    restart: unless-stopped