version: '3.5'

networks:
  proxy:
    external: true

services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    networks:
      - proxy
    volumes:
      - "{{ docker_appdata_directory }}/jellyfin/config:/config"
      - "{{ docker_appdata_directory }}/jellyfin/cache:/cache"
      - "{{ data_directory }}/media:/media"
    restart: 'unless-stopped'
    environment:
      - JELLYFIN_PublishedServerUrl=http://jellyfin.{{ local_domain }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.{{ local_domain }}`)"
      - "traefik.http.routers.jellyfin.entrypoints=https"