networks:
  proxy:
    external: true

services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    networks:
      - proxy
    volumes:
      - "{{ docker_appdata_directory }}/jellyfin/config:/config"
      - "{{ docker_appdata_directory }}/jellyfin/cache:/cache"
      - "media_volume:/media"
    restart: 'unless-stopped'
    environment:
      - JELLYFIN_PublishedServerUrl=http://jellyfin.{{ local_domain }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.{{ local_domain }}`)"
      - "traefik.http.routers.jellyfin.entrypoints=https"

volumes:
  media_volume:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ hostvars['nas'].ansible_host }},rw,nolock,soft,timeo=30,vers=4.0"
      device: ":/mnt/truenas/nas/data/media"