global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO 
  format: json # format for Loki integration

accessLog:
  format: json  # format for Loki integration
  fields:
    defaultMode: keep
    names:
      StartUTC: drop  # Reduce noise
    headers:
      defaultMode: keep
      names:
        User-Agent: keep
        Authorization: drop  # Prevent leaking sensitive info
        Cookie: drop       # Prevent leaking sensitive info

api:
  dashboard: true
  insecure: true #TODO: CHANGE FOR PRODUCTION
  debug: true

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"
    http:
      tls:
        certResolver: cloudflare
        domains:
          - main: "{{ local_domain }}"
            sans:
              - "*.{{ local_domain }}"
      middlewares:
        - authelia@file
        - securityHeaders@file

# https://community.traefik.io/t/insecureskipverify-explanation/2195
# Required for traefik --> Unifi Controller (:8443)
serversTransport:
  insecureSkipVerify: true

providers:
  file:
    filename: /config.yml #todo change path
    watch: true
  docker:
    watch: true
    network: proxy
    exposedByDefault: false

certificatesResolvers:
 cloudflare:
   acme:
     email: "{{ cloudflare_email }}"
     storage: acme.json
     caServer: https://acme-v02.api.letsencrypt.org/directory #prod
     #staging environment https://acme-staging-v02.api.letsencrypt.org/directory
     dnsChallenge:
       provider: cloudflare
       resolvers:
         - "1.1.1.1:53"
         - "1.0.0.1:53"